<apex:page sidebar="false" standardStylesheets="false" showHeader="false">

    <c:commonHeader />

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/circle1.jpg')}" />
          <h2>DOSING</h2>
          <p>Dosing generally applies to feeding chemicals or medicines in small quantities into a process fluid or to a living being at intervals or to atmosphere at intervals to give sufficient time for the chemical or medicine to react or show the results.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
           <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/circle2.jpg')}" alt="Generic placeholder image" />
            <h2>QUALITY CONTROL/ASSURANCE</h2>
          <p>This program provides instruction in the concept of quality assurance in a manufacturing environment that is controlled by good manufacturing practices, quality systems, and regulatory agencies.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/circle3.jpg')}" />
          <h2>PHARMAECONOMICS</h2>
          <p>This program is intended to improve the skills and knowledge of pharmacists on pharmacoeconomics and outcomes research methods as decision making tools that promote the rational use of healthcare resources. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

        <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">PHARMACEUTICAL FORMULATIONS. </h2>
          <p class="lead">FORMULATION STUDIES INVOLVE DEVELOPING A PREPARATION OF THE DRUG WHICH IS BOTH STABLE AND ACCEPTABLE TO THE PATIENT. FOR ORALLY TAKEN DRUGS, THIS USUALLY INVOLVES INCORPORATING THE DRUG INTO A TABLET OR A CAPSULE.</p>
        </div>
        <div class="col-md-5">
            <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/bread-and-spikes.jpg')}" alt="Generic placeholder image" height="500" width="500"/>
        </div>
      </div>

        <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">VETERINARY FORMULATION.</h2>
          <p class="lead">VETERINARY SCIENCE IS VITAL TO STUDY AND FOLLOW PRACTICES TO PROTECT ANIMAL PRODUCTION PRACTICES, HERD HEALTH AND MONITORING THE SPREAD OF DISEASE.WE ARE ONE OF THE PROMINENT MANUFACTURERS OF VETERINARY FORMULATIONS.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/medicine.jpg')}" alt="Generic placeholder image" height="450" width="450"/>
        </div>
      </div>

        <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">CLEANING AND STERILIZATION. </h2>
          <p class="lead">THE PROPER PROCESSING OF DEVICES IS PARAMOUNT TO ENSURING PATIENT SAFETY. SINCE CLEANING AND STERILIZATION INSTRUCTIONS VARY AMONG DEVICE MANUFACTURERS, HEALTH CARE FACILITIES MUST OBTAIN APPROPRIATE WRITTN AND VALIDATED CLEANING AND STERILIZATION INFORMATION.</p>
        </div>
        <div class="col-md-5">
            <apex:image url="{!URLFOR($Resource.myImages,
                            '/images/research-lab.jpg')}" alt="Generic placeholder image" height="500" width="500"/>
        </div>
      </div>

        <hr class="featurette-divider"/>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
 
</apex:page>